body {
	margin: 0;
	background: linear-gradient(30deg, black, rgb(58, 56, 56));
	margin: none;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

#container {
	height: 50vh;
	width: 100%;

	align-self: center;
	justify-self: center;

	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}

.square {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: hsl(219, 79%, 66%);
	border-radius: 12px;

	animation: rotate 2s infinite linear;
}

@keyframes rotate {
	0% { transform: rotateZ(0deg); }
	100% { transform: rotateZ(90deg); }
}

#controls {
	margin: 20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;

	background: linear-gradient(30deg, rgb(60, 87, 129), rgb(162, 194, 233));
	border-radius: 12px;

	font-family: sans-serif;
	font-weight: bold;
	color: hsl(216, 38%, 84%);
}
#controls > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}